* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* steps */
.progress_Steps_container {
    border: 1px solid #5D2374;
    width: 800px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: -webkit-center;
}

.progress_Steps {
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    height: auto;
    padding: 0 !important;
    width: 10.666667% !important;
}

.step_body {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 4px;
    border: 4px solid #5D2374;
}

.next_step {
    border: 4px solid #D8D9DA !important;
}

.checked_step {
    background-color: #5D2374;
}

/* lines */
.progress_line {
    height: 5px;
    border: 5px;
    padding: 0 !important;
    width: 15.333333% !important;
}

.progress_line_body {
    height: 5px;
    border-radius: 10px;
}

.Unchecked_line {
    background-color: #D8D9DA;
}
.checked_line {
    background-color: #5D2374;
}

/* btn */
._btn {
    margin-top: 100px;
    height: 50px;
    width: 200px;
    background-color: #fff;
    color: #5D2374;
    font-size: 22px;
    padding: 0 20px;
    border: 2px solid #5D2374;
    border-radius: 10px;
    outline: none;
    transition: 0.5s;
}

._btn:hover {
    background-color: #5D2374;
    color: #D8D9DA;
}
